html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 95%;
  line-height: 135%;
}


body {
  direction: ltr;
  height: 100vh; /*need to check this */
  background-color: #efefef;
  margin: 0;
  padding: 0;
}
body, header, footer {
  width: 100%;
}

.page-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
   background-color: inherit;
   -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
}


.wrapper {
  display: -webkit-flex;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%
  -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   height: auto;
}

.right-side-container {
   -webkit-justify-content: center;
     justify-content: center;
   width: 42%;
   background-color: inherit;
   margin-left: .5%;
   margin-right: 1%;

}

.left-side-container {
   -webkit-align-content: flex-start;
   align-content:flex-start;
   width: 55%;
   background-color: inherit;
   margin-left: 1%;
   margin-right: .5%;
}

.mini-right, .mini-right2{
  margin-left: .5%;
  margin-right: 1%;
  align-items: center;
}

.mini-left, .mini-left2{
  margin-left: 1%;
  margin-right: .5%;
}

.mini-right{
  width: 35%;
}

.mini-left{
  width: 60%;
}

.mini-right2{
  width: 45%;
}

.mini-left2{
  width: 50%
}

/*box shaddow support from MDN and CSS tricks*/
.info {
    /*border: 3px solid #33BC87;*/
    height: auto;
    overflow: auto;
    margin: 1%;
    padding: 1%;
    webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
   transition: all .2s ease-in-out;
}

.info:hover {
  transform: scale(1.1);
  webkit-box-shadow:0 1px 12px rgba(51, 186, 134, 0.4), 0 0 60px rgba(51, 186, 134, 0.2);
     -moz-box-shadow:0 1px 12px rgba(51, 186, 134, 0.4), 0 0 60px rgba(51, 186, 134, 0.2);
          box-shadow:0 1px 12px rgba(51, 186, 134, 0.4), 0 0 60px rgba(51, 186, 134, 0.2);
}


.personal, .banking, .coding {
  background-color: white;
}

h3 ~ p {
    padding: .5%;
}

h3 ~ p, ul li{
 color: #4f4f4f;
 font-size: 92%;
}

li {
  margin: 0 0 1px 0;
}

.right-side, #right-one, #right-two, #right-five{
  margin: 1%;
  width: 97%;
}

#left-one {
  width: 100%;
}

#left-two, #left-three, #left-four {
  width: 28%;
}

#left-six, #left-five, #right-three, #right-four{
  width: 45%
}

.picture {
     height: 95%;
     width: 95%;
     object-fit: contain;
     margin: 1% 0%;
     padding: 0;
}

h3, #personal {
  text-align: center;
  color: #696969; /*dark grey*/
}

p#intro {
margin-top: -15px;
}

header {
  color: white;
  background: #696969;
  background: -webkit-linear-gradient(left, #696969, #696969, #696969, #efefef);
  background: -o-linear-gradient(right, #696969, #696969, #696969, #efefef);
  background: -moz-linear-gradient(right, #696969, #696969, #696969, #efefef);
  background: linear-gradient(to right, #696969, #696969, #696969, #efefef);
  border-bottom: 2px solid #33BC87;
  margin: 0, 0, 1%, 0;
  padding: 2px 0px 5px;
  text-align: center
}

footer {
   background: #696969;
   color: white;
   border-top: 2px solid #33BC87;
   margin: 1%, 0, 0, 0;
   padding: 3px 0px 1px;
   text-align: center
}

footer p:last-child {
  margin-top: -15px
}

.banking span, .coding span {
  text-decoration: underline;
}

.personal span {
  font-weight: bold;
}
